/* Малые девайсы («телефоны < 768px)*/
@media (max-width: 767.98px) {
    html,body {
        font-size: 16px;
    }

    h1 {
        font-family: Raleway;
        font-weight: 900;
        font-size: 28px;
        color: #f5f5f5;
    }

    .header {
        height: 800px;

    }

    .logo {
        font-size: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .number {
        font-size: 20px;
    }

    .consultation {
        font-size: 17px;
    }

    .button, .button:hover {
        height: 205px;
        width: 229px;
        background-position: center;
    }

}

/* Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {

    h1 {
        font-size: 56px;
    }

    .number {
        font-size: 20px;
    }

    .car {
        background: url(../images/car.png) bottom no-repeat;
        background-size: contain;
        height: 100%;
    }

    .header-shadow {
        background: url(../images/bg1.png) center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

}

/* Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
    .number {
        font-size: 26px;
    }
}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) { ... }
