html,body {
    font-family: FuturaPT;
    font-size: 17px;
    color: #c4c7d3;
}

h1 {
    font-family: Raleway;
    font-weight: 900;
    color: #f5f5f5;
}

r {
    color: #f5124a;
}

.container {
    max-width: 1200px;
}

.header {
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    height: 890px;
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    text-transform: uppercase;
}

.title {
    margin-left: 26px;
}

.border-bottom, .border-left, .border-right {
    border-color: rgba(164, 169, 188, 0.12)!important;

}

.number {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.tel {
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
}

.home {
    margin-top: 60px;
    padding-left: 0;
    color: #fff9f9;
    font-size: 18px;
}

.consultation {
    margin-top: 50px;
    padding-left: 0px;
    color: #fff9f9;
    font-size: 19px;
}

.button {
    display:inline-block;
    height: 242px;
    width: 274px;
    background: url(../images/btn.png) right 0 no-repeat;
    background-size: cover;
}

.button:hover {
    height: 242px;
    width: 274px;
    background: url(../images/btn_hover.png) right 0 no-repeat;
    background-size: cover;
}
