html,body {
    font-family: FuturaPT;
    color: #c4c7d3;
}


.header {
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    height: 890px;
}

.header-shadow {
    background: url(../images/bg1.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.78;
}

.car {
    background: url(../images/car.png) bottom no-repeat;
    background-size: contain;
    height: 100%;
}
